body {
    background-color: #00152f !important;
    color: white !important;
}

h1,
h2,
h3,
h4,
h5 {
    color: #FFFFFF;
}

/* TOP NAVIGATION */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #00152f;
    overflow: hidden;
    width: 100% !important;
    border-bottom: 1px solid #3f5063;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
}

.sidebar-main{
    width: max-content !important;
    background-color: #00152f;
    height: 100%;
    border-right: 1px solid #3f5063;
}

.main{
    --bs-gutter-x: 1.5rem;
    margin-left: calc(var(--bs-gutter-x) * .5);
}

.column-container{
    display: flex;
    height: 100%;
}

._row{
    display: unset !important;
    width: 100%;
}

.info-container{
    display: flex;
    width: 80%;
}

.info-box{
    border: 0.5px solid white;
}
.info-header{
    padding: 8px 8px;
    border-bottom: 1px solid white;
    opacity: 0.6;
}
.info-body{
    padding: 0px 8px;
}

.h-10{
    height: 10%;
}

.footer{
    float: right;
    width: fit-content !important;
    margin-top: 50px !important;
    margin-right: 20px;
}