:root {
  --space-4x: 16px;
  --space-6x: 24px;
  --space-8x: 32px;
  --blue-100: #f5f7fd;
  --color-text-link: var(--blue-600);
  --blue-600: #375bd2;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100vh;
  margin: 0;
  background-color: aliceblue;
  overflow: hidden;
}

.cursor {
  width: 30px;
  transition: all ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .ConnectWalletModal_buttons {
    grid-gap: var(--space-8x);
    gap: var(--space-8x);
    flex-direction: row;
  }
}

.ConnectWalletModal_buttons {
  display: flex;
  grid-gap: var(--space-4x);
  gap: var(--space-4x);
  flex-direction: row;
}

.ConnectWalletModal_buttons button {
  background-color: var(--blue-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  width: 100%;
  border: none;
  padding: var(--space-6x);
  color: var(--color-text-link);
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.header{
  display: flex;
}

.connect-wallet {
  float: right;
  margin-left: auto;
}

.icon-header {
  font-size: 2.5rem;
}

.page-name {
  margin: 20px;
}

.tab {
  height: 20px;
  line-height: 20px;
  padding: 20px;
}

.tab > a{
  padding-left: 10px;
  padding-right: 10px;
}

.vodiapicker{
  display: none; 
}

#a{
  padding-left: 0px;
}

#a img, .btn-select img{
  width: 12px;
  
}

#a li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#a li:hover{
 background-color: #F4F3F3;
}

#a li img{
  margin: 5px;
}

#a li span, .btn-select li span{
  margin-left: 30px;
}

/* item list */

.b{
  display: none;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  
}

.open{
  display: show !important;
}

.btn-select{
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
  height: 34px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
 
}
.btn-select li{
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.btn-select:hover li{
  margin-left: 0px;
}

.btn-select:hover{
  background-color: #F4F3F3;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;
  
  
}

.btn-select:focus{
   outline:none;
}

.token-select{
  margin-left: 50px;
}